{include file="public/header" /}
<style>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 800px;
  }
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="app" v-cloak>
    <div class="layui-header">
        <div class="layui-logo">uMini_admin后台管理系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img :src="avatar == '' || avatar == null ? '/public/static/img/no_avatar.png' : avatar" style="width:60px;height:60px;margin-right:20px;border-radius:60px;">
            </li>

            <li class="layui-nav-item">
                欢迎您 {{username}}
            </li>
            <li class="layui-nav-item"><a @click="login_out()">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧垂直导航区域-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" v-for="item in msgData">
                    <a class="" href="javascript:;"><i class="layui-icon" :class="item.icon"></i> {{item.name}}</a>
                    <dl class="layui-nav-child" v-if="item.children">
                        <dd v-for="child in item.children">
                            <a href="javascript:;" :data-id="child.id" :data-title="child.name" :data-url="'/admin/index/view?c='+child.controller+'&a='+child.action" class="site-demo-active" data-type="tabAdd">{{child.name}}</a>
                            <dl class="layui-nav-child" v-if="child.children">
                                <dd v-for="grand in child.children">
                                    <a href="javascript:;" :data-id="grand.id" :data-title="grand.name" :data-url="'/admin/index/view?c='+grand.controller+'&a='+grand.action"
                                       class="site-demo-active" data-type="tabAdd"> {{grand.name}}</a>
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--tab标签-->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 220px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content"></div>
        <el-card class="box-card">
            <div slot="header" class="clearfix" style="color:#0000ff">系统信息</div>
            <div class="text item">网站域名：{{domain}}</div>
            <div class="text item">网站目录：{{document_root}}</div>
            <div class="text item"> 服务器操作系统：{{server_os}}</div>
            <div class="text item"> 服务器端口：{{server_port}}</div>
            <div class="text item"> 服务器IP：{{server_ip}}</div>
            <div class="text item"> WEB运行环境：{{server_soft}}</div>
            <div class="text item"> MySQL数据库版本：{{mysql_version}}</div>
            <div class="text item"> 运行PHP版本：{{php_version}}</div>
            <div class="text item"> 最大上传限制：{{max_upload_size}}</div>
            <div class="text item">框架版本：{{think_version}}</div>
        </el-card>

      
    </div>


</div>
</body>
{include file="public/footer" /}
<script>
new Vue({
    el:"#app",
    data:{
        msgData:'',
        domain:'',
        document_root:'',
        server_os:'',
        server_port:'',
        server_ip:'',
        server_soft:'',
        mysql_version:'',
        php_version:'',
        max_upload_size:'',
        think_version:'',
        avatar:'',
        username:'',
    },
    created:function(){
        this.list();
        this.config();
        this.nickname();
    },
    methods:{
        list:function(){
            this.$http.get('/admin/index/showmenu').then(function(res){
                var obj = res.data
                if(obj.code==200){
                    this.msgData = obj.data;
                    layui.use(['element', 'layer', 'jquery'], function () {
                        var element = layui.element;
                        // var layer = layui.layer;
                        var $ = layui.$;
                        var isNew = false;
                        // 配置tab实践在下面无法获取到菜单元素
                        $('.site-demo-active').on('click', function () {
                           
                            var dataid = $(this);
                            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                                console.log('22')
                                //如果比零小，则直接打开新的tab项
                                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                                isNew =  true;
                            } else {
                                 console.log(dataid)
                                //否则判断该tab项是否以及存在
                                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                                if (isNew) {
                                   
                                    active.tabDelete(dataid.attr("data-id"));

                                }
                                $.each($(".layui-tab-title li[lay-id]"), function () {
                                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                                        isData = true;
                                    }
                                })
                                if (isData == false) {
                                    console.log('123123123')
                                    //标志为false 新增一个tab项
                                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                                }
                            }
                            //最后不管是否新增tab，最后都转到要打开的选项页面上
                            active.tabChange(dataid.attr("data-id"));
                        });

                        var active = {
                            //在这里给active绑定几项事件，后面可通过active调用这些事件
                            tabAdd: function (url, id, name) {
                                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                                element.tabAdd('demo', {
                                    title: name,
                                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                                    id: id //规定好的id
                                })
                                FrameWH();  //计算ifram层的大小
                            },
                            tabChange: function (id) {
                                //切换到指定Tab项
                                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                            },
                            tabDelete: function (id) {
                                element.tabDelete("demo", id);//删除
                            }
                        };
                        function FrameWH() {
                            var h = $(window).height();
                            $("iframe").css("height",h+"px");
                        }
                    });
                }else{
                  layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg(obj.msg);
                  }); 
                }
            });
        },
        login_out:function(){
            this.$http.get('/admin/login/login_out').then(function(res){
                var obj = res.data
                if(obj.code==200){
                    window.location.href="/admin/login";
                }else{
                  window.location.reload();
                }
            });
        },
        config:function(){
            this.$http.get('/admin/index/config').then(function(res){
                var obj = res.data
                if(obj.code==200){
                    this.domain = obj.data.url;
                    this.document_root = obj.data.document_root;
                    this.server_os = obj.data.server_os;
                    this.server_port = obj.data.server_port;
                    this.server_ip = obj.data.server_ip;
                    this.server_soft = obj.data.server_soft;
                    this.mysql_version = obj.data.mysql_version;
                    this.php_version = obj.data.php_version;
                    this.max_upload_size = obj.data.max_upload_size;
                    this.think_version = obj.data.think_version;
                }else{
                  layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg('服务器内部错误',{icon:0,time:1500,shade:0.1});
                  });
                }
            });
        },
        nickname:function(){
            this.$http.get('/admin/index/nickname').then(function(res){
                var obj = res.data
                if(obj.code==200){
                    this.avatar = obj.data.avatar ;
                    this.username = obj.data.username;
                }else{
                  layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg('服务器内部错误',{icon:0,time:1500,shade:0.1});
                  });
                }
            });
        },
    }
});
</script>