{include file="public/header" /}
<body>
  <div class="layui-form-center" id="app">
	<div class="layui-form" v-if="isshow">
    <div class="layui-form-item layui-row layui-col-xs12">
        <input type="hidden" v-model="id">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-inline">
            <input type="text" v-model="role_name" class="layui-input userName">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
      <div class="layui-input-block">
        <button type="button" @click="edit()" class="layui-btn" lay-submit lay-filter="form">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </div>
</div>
</body>
{include file="public/footer" /}
<script>
new Vue({
  el:"#app",
  data:{
    id:'',
    role_name:'',
    isshow:false
  },
  mounted:function(){
    this.getUrlParam('id');
    this.get();
  },
  methods:{
    get:function(){
      this.$http.get('/admin/role/info?id='+this.uid
      ).then(function(res){
        var obj = res.data
        if(obj.code==200){
          this.isshow = true;
          this.id = obj.data.id;
          this.role_name = obj.data.role_name;
        }else if(obj.code==404){
          layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg(obj.msg);
          });
        }else{
          layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('服务器内部错误');
          }); 
        }
      });
    },
    edit:function(){
      this.$http.post('/admin/role/edit',{
        id:this.id,
        role_name:this.role_name,
        },{
        emulateJSON: true
        }).then(function(res){
          var obj = res.data
          if(obj.code==201){
            layui.use('layer', function(){
              var layer = layui.layer;
              layer.msg(obj.msg,{icon:1,time:1000,shade:0.1},function(index){
                var index=parent.layer.getFrameIndex(window.name);
                window.parent.location.reload();
                parent.layer.close(index);
              });
            }); 
          }else{
            layui.use('layer', function(){
              var layer = layui.layer;
              layer.msg(obj.msg,{icon:0,time:1000,shade:0.1},function(index){
                 var index=parent.layer.getFrameIndex(window.name);
                 parent.layer.close(index);
              });
            }); 
          }
      });
    },
    getUrlParam:function(name){
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r !=null){
            this.uid = unescape(r[2]);
        }else{
          return null;
        }
      }
  }
});
</script>

</html>