{include file="public/header" /}
<body>
  <div id="app">
      <div class="form-group" style="text-align: left;margin:5px;">
        <button class="layui-btn" @click="delData(id)"><i class="layui-icon layui-icon-ok"></i>确定</button>

         <button class="layui-btn layui-btn-normal" @click="cancel()"><i class="layui-icon layui-icon-close"></i>取消</button>
      </div>
</div>

</body>
{include file="public/footer" /}
<script>
new Vue({
  el:"#app",
  data:{
    id:''
  },
  mounted:function(){
    this.getUrlParam('id');
  },
  methods:{
    getUrlParam:function(name){
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r !=null){
            this.id = unescape(r[2]);
        }else{
          return null;
        }
        console.log(this.id)
    },
    delData:function(id){
        this.$http.post('/admin/group/del',{id:id},{emulateJSON: true}).then(function(res){
            var obj = res.data
            if(obj.code==204){
                layui.use('layer', function(){
                  var layer = layui.layer;
                  layer.msg(obj.msg,{icon:1,time:1500,shade:0.1},function(index){
                    window.location.reload();
                  });
                }); 
            }else if(obj.code==400){
              layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg(obj.msg,{icon:0,time:1500,shade:0.1});
              }); 
            }else{
              layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg('服务器内部错误',{icon:0,time:1500,shade:0.1});
              }); 
            }
          });
    },
    cancel:function(){
        parent.layer.close(index);
    }
  }
});
</script>
</html>