{include file="public/header" /}
<body>
  <div class="layui-form-center" id="app">
	<div class="layui-form" action="">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" v-model="username" class="layui-input userName" value="" placeholder="请输入用户名">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" v-model="password" value="" class="layui-input userPassword" placeholder="请输入密码">
        </div>
    </div>
    <div class="layui-form-item" id="openedDiv">
      <label class="layui-form-label">用户权限</label>
      <div class="layui-input-block">
        <template>
          <el-radio v-model="power" :label=1>只读</el-radio>
          <el-radio v-model="power" :label=2>读写</el-radio>
        </template>
      </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
      <div class="layui-input-block">
        <button type="button" class="layui-btn" @click="add()">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </div>
</div>
</body>
{include file="public/footer" /}
<script>
new Vue({
  el:"#app",
  data:{
    username:'',
    password:'',
    power:2,
  },
  methods:{
    add:function(){
      this.$http.post('/admin/admin/add',{
        username:this.username,
        password:this.password,
        power:this.power
      },{
        emulateJSON: true
      }).then(function(res){
        var obj = JSON.parse(res.data);
        if(obj.code==201){
          layer.confirm('添加成功，继续添加？', {
            btn: ['继续','下次再说'] //按钮
          }, function(){
            window.location.reload();
          }, function(){
            var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
            window.parent.location.reload();//刷新父页面
            parent.layer.close(index);//关闭弹出层
          });
        }else{
          layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg(obj.msg,{icon:0,time:1000,shade:0.1},function(index){
                 var index=parent.layer.getFrameIndex(window.name);
                 parent.layer.close(index);
            });
          }); 
        }
      })
    },
  }
});
</script>
</html>