{include file="public/header" /}
<body>
  <div class="layui-form-center" id="app">
	<div class="layui-form">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-inline">
            <input type="text" v-model="name" class="layui-input" value="" placeholder="请输入菜单名">
        </div>
        <div class="layui-form-mid layui-word-aux"><i class="layui-required">*</i></div>
    </div>
    <div class="layui-form-item" id="openedDiv">
      <label class="layui-form-label">是否显示</label>
      <div class="layui-input-block">
        <template>
          <el-radio v-model="show" :label=1>显示</el-radio>
          <el-radio v-model="show" :label=0>不显示</el-radio>
        </template>
      </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input type="text" v-model="icon" class="layui-input" value="" placeholder="例如：layui-icon-usernames">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <a href="https://www.layui.com/doc/element/icon.html" target="_blank" style="color:blue;">请点击参考链接</a>
        </div>
    </div>


    <div class="layui-form-item layui-row layui-col-xs12">
      <div class="layui-input-block">
        <button type="button" @click="add()" class="layui-btn" lay-submit lay-filter="form">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </div>
</div>
</body>
{include file="public/footer" /}
<script>
new Vue({
  el:"#app",
  data:{
    name:'',
    show:1,
    icon:''
  },
  methods:{
    add:function(){
      this.$http.post('/admin/menu/add',{
        name:this.name,
        show:this.show,
        icon:this.icon
      },{
        emulateJSON: true
      }).then(function(res){
        var obj = res.data;
        if(obj.code==201){
          // layer.confirm('添加成功，继续添加？', {
          //   btn: ['继续','下次再说'] //按钮
          // }, function(){
          //   window.location.reload();
          // }, function(){
          //   var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
          //   window.parent.location.reload();//刷新父页面
          //   parent.layer.close(index);//关闭弹出层
          // });

          var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
          window.parent.location.reload();//刷新父页面
          parent.layer.close(index);//关闭弹出层
        }else{
          layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg(obj.msg);
          }); 
        }
      })
    },
  }
});
</script>
</html>