{include file="public/header" /}
<body>
  <div class="layui-form-center" id="app">
    <el-form label-width="80px" style="margin-bottom: 140px;">
      <el-form-item label="标题">
        <el-input v-model="title"></el-input>
      </el-form-item>
      <el-form-item label="封面">
        <el-upload
          class="avatar-uploader"
          action="/admin/upload/upload"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="cover" :src="cover" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>
       <el-form-item label="关键词">
        <el-input v-model="keyword"></el-input>
      </el-form-item>
      <el-form-item label="文章描述">
        <el-input type="textarea" v-model="desc"></el-input>
      </el-form-item>
      <el-form-item label="是否发布">
        <el-switch v-model="status"></el-switch>
      </el-form-item>
      <el-form-item label="作者">
        <el-input v-model="author"></el-input>
      </el-form-item>
      <el-form-item label="来源">
        <el-input v-model="from"></el-input>
      </el-form-item>
       <el-form-item label="内容">
         <!-- <div id="editor" style="height:500px"></div> --><!--默认编辑-->
        <div id="div1" class="toolbar"></div>
        <div id="div2" class="text" style="height:500px">
          <!--可使用 min-height 实现编辑区域自动增加高度-->
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">确定</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</body>
{include file="public/footer" /}
<script type="text/javascript" src="/public/static/wangeditor3/wangEditor.min.js"></script>
<script type="text/javascript">
    
</script>
<script>
new Vue({
  el:"#app",
  data:{
    id:'',
    title:'',
    cover: '',
    keyword: '',
    content: '34543546',
    desc: '',
    status: true,
    from: '',
    author: '',
  },
  mounted :function(){
    this.getUrlParam('id');
    this.get();

   
  },
  methods:{
    onSubmit:function(){
      if(this.status){
        this.status = 1;
      }else{
        this.status = 2;
      }
      this.$http.post('/admin/article/edit',{
        id:this.id,
        title:this.title,
        cover:this.cover,
        keyword:this.keyword,
        content:this.content,
        desc:this.desc,
        status:this.status,
        from:this.from,
        author:this.author,
      },{
        emulateJSON: true
      }).then(function(res){
        var obj = res.data;
        if(obj.code==201){
           window.location.href="/admin/index/view?c=article&a=index";
        }else{
          layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg(obj.msg,{icon:0,time:1000,shade:0.1},function(index){
                 var index=parent.layer.getFrameIndex(window.name);
                 parent.layer.close(index);
            });
          }); 
        }
      })
    },
    handleAvatarSuccess(res, file) {
       this.cover = res.data[0];
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      // if (!isJPG) {
      //   this.$message.error('上传头像图片只能是 JPG 格式!');
      // }
      // if (!isLt2M) {
      //   this.$message.error('上传头像图片大小不能超过 2MB!');
      // }
      // return isJPG && isLt2M;
    },
    get:function(){
      this.$http.get('/admin/article/info?id='+this.id
      ).then(function(res){
        var obj = res.data
        console.log(obj);
        if(obj.code==200){
          if(obj.data.status==2){
            this.status=false;
          }
          this.id = obj.data.id,
          this.title=obj.data.title,
          this.cover=obj.data.cover,
          this.keyword=obj.data.keyword,
          this.content=obj.data.content,
          this.desc=obj.data.desc,
          this.from=obj.data.from,
          this.author=obj.data.author

          //加载富文本编辑器
          var E = window.wangEditor
          var editor = new E('#div1', '#div2');
          editor.customConfig.uploadImgHeaders = {
            'Accept' : 'multipart/form-data'
          };
          editor.customConfig.uploadFileName = 'file';
          editor.customConfig.uploadImgServer = '/admin/upload/upload';
          editor.customConfig.onchange = (html) => {
            this.content = html
          } 
          editor.customConfig.zIndex = 1;  
          editor.create();
          editor.txt.html(this.content);
        }else{
          layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg(obj.msg);
          });
        }
      });
    },
    getUrlParam:function(name){
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);
      if(r !=null){
          this.id = unescape(r[2]);
      }else{
        return null;
      }
    }
  }
});
</script>
</html>