{include file="public/header" /}
<body>
  <div class="layui-fluid" id="app">
    
    <div class="layui-btn-container">
        <template>
          <el-date-picker
            v-model="searchDate"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions2"
            class="input-date-search"
            value-format="yyyy-MM-dd"
            >
          </el-date-picker>
          <el-input placeholder="输入需要查询的标题" v-model="searchText" class="input-search-size"></el-input>
          <el-button type="primary" icon="el-icon-search" @click="search()">搜索</el-button>
          <el-button type="success" @click="add()" icon="el-icon-plus">添加</el-button>
          <el-button type="danger" @click="del()">删除</el-button>
        </template>
      <div class="layui-form">
	      <template>
          <el-table ref="multipleTable" :data="msgData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="title" label="标题" width="200"></el-table-column>
            <el-table-column  label="封面图" width="200">
              <template scope="scope">
               <img :src="scope.row.cover == '' || scope.row.cover == null ? '/public/static/img/no_img.jpg' : scope.row.cover" width="60px" height="40px">
              </template>
            </el-table-column>
            <el-table-column prop="author" label="作者" width="150"></el-table-column>
            <el-table-column prop="from" label="来源" width="150"></el-table-column>
            <el-table-column prop="views" label="浏览量" width="100"></el-table-column>
            <el-table-column prop="status" label="是否发布" width="100">
              <template slot-scope="scope">{{scope.row.status==1?'发布':'未发布'}}</template>
            </el-table-column>
            <el-table-column label="创建时间" width="200">
              <template slot-scope="scope">{{scope.row.create_time | date}}</template>
            </el-table-column>
            </el-table-column>
            <el-table-column label="操作" width="200">
              <template slot-scope="scope">
                <el-row>
                  <el-button type="primary" size="mini" @click="edit(scope.row.id)">编辑</el-button>
                  <el-button type="danger" size="mini"  @click="del(scope.row.id)">删除</el-button>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </template>
      </div>
    </div>
  <el-pagination background layout="prev, pager, next" :total="this.page.total" @current-change="currentPage">
  </el-pagination>
</div>
</body>
{include file="public/footer" /}
<script>
  new Vue({ 
    el:"#app",
    data:{
      msgData:[],
      multipleSelection: [],
      id:[],
      ids:[],
      page:{
        total:0,//总页数
        size:10,//每页显示条目个数不传默认10
        page:1,//当前页码
      },
      pickerOptions2: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      searchDate:'',
      searchText:'',

    },
    created: function(){
        this.list();
    },
    methods:{
      currentPage:function(val){
        this.page.page = val;
        this.list();
      },
      handleSelectionChange(val) {
        this.multipleSelection = val; 
      },
      search:function(){
        this.page.page = 1;
        this.list();
      },
      list:function(){
        this.$http.post('/admin/article/lst',{
          page:this.page.page,
          rows:this.page.size,
          searchDate:this.searchDate,
          searchText:this.searchText,
        },{
             emulateJSON: true
        }).then(function(res){
          var obj = res.data
          if(obj.code==200){
            this.msgData = obj.data.info;
            this.page.total = Math.ceil(obj.data.count/this.page.size)*10;
          }else{
            layui.use('layer', function(){
              var layer = layui.layer;
              layer.msg(obj.msg);
            }); 
          }
        });
      },
      add:function(){
        window.location.href="/admin/index/view?c=article&a=add"; 
      },
      edit:function(id){
        window.location.href="/admin/index/view?c=article&a=edit&id="+id;
      },
      del:function(ids=''){
        if(ids){
          this.ids = ids;
        }else{
          for (var i=0;i<this.multipleSelection.length;i++){ 
            this.ids.push(this.multipleSelection[i]['id']);
          }
        }
        this.$http.post('/admin/article/del',{
            ids:this.ids,
          },{
             emulateJSON: true
          }).then(function(res){
            var obj = res.data;
            if(obj.code==204){
              var obj = res.data
              layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg(obj.msg,{icon:1,time:1000,shade:0.1},function(){
                  window.location.reload();
                });
              }); 
            }else{
              layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg(obj.msg,{icon:0,time:2000,shade:0.1});
              }); 
            }
        });
      }

    }
    });
</script>

</html>